{% extends "menu.html" %}

{% block index %}

    <h3>Lista de Compras</h3>
<div class="tabela-compra">

    <table class="table table-dark">
        <thead>
            <tr>
                <th>Nome</th>
                <th>CPF</th>
                <th>Endereço</th>
                <th>Tipo</th>
                <th>Marca</th>
                <th>Modelo</th>                
                <th>Preço</th>
                <th>Série</th>
            </tr>
        </thead>
        <tbody>
            {% for i in lista %}
            
            <tr>
                <td>{{i.nome}}</td>
                <td>{{i.cpf}}</td>
                <td>{{i.endereco}}</td>
                <td>{{i.tipo}}</td>
                <td>{{i.marca}}</td>
                <td>{{i.modelo}}</td>
                <td>{{i.preco}}</td>
                <td>{{i.serie}}</td>
                <td>
                </td>
                
            </tr>
            {% endfor %}
            
        </tbody>
        
        
        
        
    </table>
</div>

{% endblock %}