<!DOCTYPE html>
<html lang="pt-br">
  <link rel="stylesheet" href="../static/trabalhinho.css">
  <head>
        <h2>Bem vindo a página interna da JTG S.A.</h2>
        <h3>Acesso exclusivo à funcionários</h3>
        <h3>Faça seu login:</h3>
  </head>
    <body>
        <form action="/testar_login" method="POST">
          <div class="login">
            <input type="text" class="form-control" placeholder="Informe o seu usuário" aria-describedby="basic-addon1" name='usuario'>
            <input type="password" class="form-control" placeholder="Informe a sua senha" aria-describedby="basic-addon1" name='senha'>
            <input type="submit" value="Login">
          </div>    
        </form>
    </body>
</html>