<link rel="stylesheet" href="../static/trabalhinho.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

<!DOCTYPE html>

<head>

    <title>{{titulo}}</title>
</head>

<body>
    <ul>
        <li><a href="/cad_produto">Cadastrar Produtos</a></li>
        <li><a href="/lista_produto">Listar Produtos</a></li>
        <li class="dropdown">
        <a href="/efetuar_compra" class="dropbtn">Efetuar Compra</a>
            <div class="dropdown-content">
            </div>
        <li><a href="/lista_compras_join">Listar Compras</a></li>
        <li><a href="/politica_uso">Política de Uso</a></li>
        </li>
    </ul>


    {% block index %}

    {% endblock %}

</body>

</html>