{% extends "menu.html" %}

{% block index %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{titulo}}</title>
    <h3>Política de Uso:</h3>
    <form action="uso">
        <b>

            
            Deveres dos Funcionários:
            
            Não utilizar a rede da empresa para quaisquer atividades ilegais, como pirataria, injúrias, pedofilia, etc.
            
            Não criar nenhum tipo de risco para a empresa, como: acessar sites desconhecidos, baixar e instalar programas de fontes de procedência duvidosa, utilizar dispositivos, como pendrives, para fins que não tenham relação com a empresa, etc.
            
            É terminantemente proibido:
            
            Acessar páginas de conteúdo pornográfico.
            
            Utilizar a rede para difamar ou constranger terceiros, sejam eles funcionários ou não da empresa.
            
            Fazer atividades que permitam a entrada de vírus nos computadores.
            
            Invadir sites de terceiros.
            
            Instalar softwares piratas.
            
            Compartilhar informações confidenciais da empresa com outras pessoas.
            
            Cada empresa deve acrescentar os itens que achar necessário de acordo com a sua realidade.
            
            Monitoramento: Além de criar essa política de controle de acesso à internet, o monitoramento é uma ferramenta que pode garantir que as regras estão sendo seguidas por todos. Entretanto, é fundamental que seja um processo transparente e que todos sejam informados que os acessos feitos pela rede corporativa são monitorados.
        </b>
        </form>
</head>
<body>
    
</body>
</html>

{% endblock %}