{% extends "menu.html" %}

{% block index %}


<h3>Cadastrar Eletrodomésticos:</h3>
<a href="/cad_produto"></a>

<div class= "formulario">
    <form action="/cad_produto/salvar" method="POST">
      <input class="input" type="text" placeholder="Tipo" name="tipo"> 
      <input class="input" type="text" placeholder="Modelo" name="modelo">
      <input class="input" type="text" placeholder="Marca" name="marca"> 
      <input class="input" type="text" placeholder="Data de Fabricação" name="data_fabric">
      <input class="input" type="text" placeholder="Preço" name="preco"> 
      <input type="submit" value="Salvar">        
    </form>        
</div>        
          

{% endblock %}